<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/css/util.css">
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
        <link rel="stylesheet" type="text/css" href="static/css/color-scheme.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet"> 
    <!--===============================================================================================-->

    <title> TaskShelf</title>
</head>
<body class="bg-color-primary-3">
    <nav>
        <ul class="modal-list flex-row">
            <li>
                <a id="myBtn" class="fs-32 nav-button">Add Subject</a>
                <!-- The Modal -->
                <form action="/addSubject" method="POST">
                    <div id="myModal" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h2>Subject Name</h2>
                            <input class="modal-input" type="text" name="subject" required>
                            <h2>Task</h2>
                            <input class="modal-input" type="text" name="tasks" required>
                            <h2>Date Due</h2>
                            <input class="modal-input" type="date" name="date" required>
                            <div class="task-que"></div>
                            <a id="add-task" class="modal-button">Add Tasks</a>
                            <button id="myBtn" type="submit" class="modal-button confirm">Confirm Subject</button>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <a id="removeModal" class="fs-32 nav-button">Remove Subject</a>
                <!-- The Modal -->
                <form action="/removeSubject" method="DELETE">
                    <div id="removeModalDiv" class="modal">
                        <!-- Modal content -->
                        <div class="remove-modal-content">
                            <span class="close">&times;</span>
                            <div class="subject-que"></div>
                            <button id="myBtn" type="submit" class="fs-36 modal-button">Confirm Removal</button>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <a id="logout" href="/logout" class="logout fs-32 nav-button">Logout</a>
            </li>
            <li>
                <form action="/addTask" method="GET">
                    <div id="addModalDiv" class="modal">
                <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="add-task-que">
                                <h2>Task</h2>
                                <input class="modal-input" type="text" name="tasks" required>
                                <h2>Date Due</h2>
                                <input class="modal-input" type="date" name="date" required>
                            </div>
                            <div class="modal-function-button flex-row">
                                <a id="add-task2" >Add Tasks</a>
                                <!-- <a id="add-task2">Remove Previous Task</a> -->
                            </div>
                            <button id="myBtn" type="submit" class="fs-36 modal-button">Submit Task</button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </nav>

    <div class="contain flex-row">
        <div class="classes">
        </div>
        <div class="right-sidebar">
            <h1 class="sidebar-header">Upcoming Tasks</h1>

        </div>
    </div>
    
    <!--===============================================================================================-->	
    <script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/bootstrap/js/popper.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/tilt/tilt.jquery.min.js"></script>
    <!--===============================================================================================-->
        <script src="static/js/populate_page.js"></script>  
        <script src="static/js/main.js"></script>
        <script src="static/js/modal.js"></script>
</body>
</html>